body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.submitButton {
	background-color:##377ba8;
	border-radius:24px;
	border:1px solid #377ba8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Lucida Sans Unicode";
	font-size:17px;
	padding:10px 25px;
	text-decoration:none;
}
.submitButton:hover {
	background-color:#00e0e8;
}
.submitButton:active {
	position:relative;
	top:1px;
}
