{% extends 'quiz-base.html' %}

{% block header %}
    <h1 class="header">Edit User.</h1>
    <p>Go to: <a href="/users">The Users</a>.</p>
{% endblock %}

{% block content %}
    <div class="section">
        <form method="POST">
            <input type="hidden" name="userid" value="{{ userid }}">
        {% for f in fields %}
            <div class="row">
                <div class="input-field col s6">   
                    <input type="text" name="{{ f[0] }}" id="{{ f[0] }}" class="validate" required="" value="{{ f[1] }}">
                    <label for="{{ f[0] }}">{{ f[0] }}</label>
                </div>
            </div>
        {% endfor %}
            <div class="row">
                <button type="submit" name="action" class="btn waves-effect waves-light green">
                    Update<i class="material-icons right">update</i>
                </button>
            </div>
        </form>
        <form method="POST">
            <input type="hidden" name="delete" value="{{ userid }}">
            <button type="submit" name="action" class="btn waves-effect waves-light red">
                delete<i class="material-icons right">clear</i>
            </button>
        </form>
    </div>
    <p>{{ message }}</p>
{% endblock %}