/* colors:
#1E202F
#494044
#75596A
#9F6E71
#FAD6CB
*/

body {
    background-color: #1E202F;
    color:#FAD6CB;
}

.title {
    background-color: #75596A;
    text-align: center;
    color: #FAD6CB;
}

.gameBanner {
    /* need to center this */
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
    font-family: arial,helvetica,sans-serif;
    display: flex;
    justify-content: center;
    background-color: #9F6E71;
}

.gameBanner li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

.gameBanner li a {
    padding: 0.2em 2em;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: capitalize;
    float: left;
}

/* Define the colors of the links */
#dota {
    color:red;
}
#overwatch {
    color:yellow;
}
#lol {
    color:blue;
}
#rl {
    color:lightgray;
}

#dota:hover, #lol:hover, #overwatch:hover, #rl:hover {
    color:#1E202F;
}

.content {
    width:800px;
    text-align: left;
    border: 0px;
    padding: 0;
    margin: 0 auto;
}

.content p {
    font-size: 1.1em;
}

.content h2 {
    font-size: 2em;
}
